# Linear Regression - Multiple Variables

In [4]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [8]:
df=pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

### Data Preprocessing: Fill NA values with median value of a column

In [10]:
df.bedrooms.median()

4.0

In [12]:
df.bedrooms=df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [25]:
model=linear_model.LinearRegression()
model.fit(df.drop('price',axis='columns'),df.price)

LinearRegression()

### Find price of home with 2500 sqr ft area, 4 bedrooms, 5 year old

In [26]:
model.predict([[3000, 3, 40]])

c:\python\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

In [27]:
model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [28]:
model.intercept_

221323.00186540443

### Find price of home with 3000 sqr ft area, 3 bedrooms, 40 year old

In [29]:
model.predict([[3000,3,40]])

c:\python\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

### Find price of home with 2500 sqr ft area, 4 bedrooms, 5 year old

In [30]:
model.predict([[2500,4,5]])

c:\python\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([578876.03748933])